@tailwind base;
@tailwind components;
@tailwind utilities;

/* ANT DESIGN COMPONENTS CSS */
.ant-btn-primary {
  background-color: #8148e5;
}

.modal-loader .ant-modal-content {
  /* @apply bg-transparent shadow-none; */
  background-color: transparent;
  box-shadow: none;
}
