@tailwind base;
@tailwind components;
@tailwind utilities;

/* ANT DESIGN COMPONENTS CSS */
.ant-btn-primary {
    background-color: #8148e5;
}

.modal-loader .ant-modal-content {
    background-color: transparent;
    box-shadow: none;
}
